// FLOAT LEFT CLEAR FIX
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin central-horizontal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
