/* Simple reset */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* using cascading nature of css to setup fonts insted of using universal selceter '*'
BODY is parent off all other selectors that is why is more effective and afficient to do it this way  */
html {
  /* 10px / 16px = 62.5 % */
  /* 1rem = 10x @16px base size */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
